/* SCSS RGB */
/*
$sepia: rgba(114, 59, 13, 1);
$misty-rose: rgba(241, 222, 222, 1);
$black: rgba(1, 4, 0, 1);
$light-green: rgb(129, 184, 120);
$air-force-blue: rgba(75, 136, 162, 1); 
*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.div-vh{
  min-height: 90vh;
  background-color: rgba(241, 222, 222, 1);
}


.image-index{
  width: 97%;
  object-fit: cover;
  height: 200px;
}
.index-div-principal{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.index-cards{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1rem .3rem 1rem .3rem;
  transition: 0.2s;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.index-cards-img{
  width: 95%;
  height: 10rem;
  margin-top: 1rem;
}
.index-cards-text{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.index-cards-text h3{
  color: rgb(189, 117, 9);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}
.index-cards-text a{
  color: rgb(189, 117, 9);
  cursor: pointer;
  font-weight: bold;
  transition: 0.2;
  margin-right: 1.5rem!important;
}
.index-cards:hover{
  transform: scale(1.01,1.01);
  box-shadow: 0.1rem 0.3rem 1rem black;
}
.index-cards-text a:hover{
  transform: scale(1.1,1.1);
}
.footer-index{
  background-color: rgb(184, 178, 178);
  padding: 0 1rem 0 1rem;
  color: rgb(6, 94, 132);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.legal-div{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  color: rgb(15, 137, 189);
  flex-direction: column;
  font-size: 12px;
}
.legal-div p{
  cursor: pointer;
}
.legal-div p:active{
  color: black;
}
.advicer p{
  font-size: 9px;
}
.footer-index h3{
  color: rgb(189, 117, 9);
}
.social-div{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0 1rem 0;
}
.icons-social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.icons-social a>svg{
  width: 30px;
  height: 30px;
  color: rgb(189, 117, 9);
}
.icons-social a>svg:hover{
  width: 30px;
  height: 30px;
  color: black;
}
.icons-social a>svg:active{
  width: 30px;
  height: 30px;
  color: white;
  filter: drop-shadow(4px 4px  rgb(189, 117, 9));
}
@media screen and (min-width: 500px) and (max-width: 767px){
  .index-div-principal{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .index-cards{
    width: 40%;
    margin: 2rem 1rem 1rem 1rem;
  }
  .image-index{
    object-fit: inherit;
    height: 200px;
}
.legal-div{
  flex-wrap: wrap;
  flex-direction: row;
}
.legal-div p{
  border-left: 0.1rem solid rgb(15, 137, 189);
  padding: 0 5px 0 5px;
}
.legal-div .lastP{
  border-right: 0.1rem solid rgb(15, 137, 189);
}
.social-div{
  flex-direction: row;
  gap: 1rem;
}
.icons-social a>svg{
  padding-bottom: 3px;
}
}
@media screen and (min-width: 768px) and (max-width: 1400px){
  .index-div-principal{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .index-cards{
    width: 40%;
    margin: 1rem;
    flex-direction: row;
  }
  .image-index{
    object-fit: fill;
    height: 300px;
}
.index-cards-img{
  margin-left: 1rem;
}
.legal-div{
  flex-wrap: wrap;
  flex-direction: row;
}
.legal-div p{
  border-left: 0.1rem solid rgb(15, 137, 189);
  padding: 0 5px 0 5px;
}
.legal-div .lastP{
  border-right: 0.1rem solid rgb(15, 137, 189);
}
.social-div{
  flex-direction: row;
  gap: 1rem;
}
.icons-social a>svg{
  padding-bottom: 3px;
}
}
@media screen and (min-width: 1401px){
  .index-div-principal{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .index-cards{
    width: 40%;
    height: 25rem;
    margin: 2rem 1rem 1rem 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .index-cards-img{
    object-fit: contain;
    height: 30rem;
  }
  .index-cards-text p{
    font-size: 1.5rem;
  }
  .image-index{
    object-fit: fill;
    height: 300px;
}
.index-cards-img{
  margin-left: 1rem;
}
.legal-div{
  flex-wrap: wrap;
  flex-direction: row;
}
.legal-div p{
  border-left: 0.1rem solid rgb(15, 137, 189);
  padding: 0 5px 0 5px;
}
.legal-div .lastP{
  border-right: 0.1rem solid rgb(15, 137, 189);
}
.social-div{
  flex-direction: row;
  gap: 1rem;
}
.icons-social a>svg{
  padding-bottom: 3px;
}
}